
/***
naming convention
 - component[ComponentEtcEtc] .component[ComponentEtcEtc] 
 - state : eg. selected/hover, etc
 - component_state : menu_selected/ menu_hover, etc

***/

.appTitle {
     font: large arial, geneva, helvetica ;
     color: #FFF;
}

.purplePanel {
    background-image: url(../images/tile_green_bg.gif);
    background-repeat: repeat ;
    width: 100%; 
    height: 20px; 
    position: absolute;
}

.loginPanel {
    background-image: url(../images/background.jpg);
    width: 100%;
    height: 100%;
    z-index: -2;
   background-repeat: no-repeat;
  background-color: #000000;
}

.westPanel {
    width: 740px;
}   

.centerPanel {
    width: 300px;
}

.eastPanel {
    width: 100px;
}
.icePage {
    border: 1px solid #ACBECE;
    width: 97%;
}

.icePageNorth {
    background-image: url(../images/tile_blue.gif);
    background-repeat: repeat-x;
    padding-bottom: 50px;
}

.icePageCenter {
    padding-left: 25px;
    vertical-align: top;
    width: 60%;
}

.icePageWest {
    float: right;
    width: 40%;
}

.icePageSouth {
    padding-top: 50px;
}

.copyrightHeader {
    background-image: url(../images/tile_blue.gif);
    background-repeat: repeat-x;
}

.copyrightMiddle {
    align: center;
    font: 10px arial, helvetica, sans-serif;
    text-align: center;
    vertical-align: top;
    padding: 3px;
}